
      <%- include ('includes/header2') %>
      <div class="container-fluid text-center d-flex justify-content-between">
        <div class="container mt-5" style="width:200px; height:70vh;  overflow-y: scroll; border: solid 2px grey;  border-radius: 10px;">
          
          <div class="w-100" style="height:100px;">
            <div class="card card-block text-xs-center " >
              <h4 class="card-title"><a href="" class="btn btn-secondary btn-block">categories</a></h4>
              <h3><%=data.categorie%></h3>
            </div>
          </div>
          <% data.label.forEach(e=>{%>
          <div class="w-100 mt-2" style="border: solid 1px grey; border-radius:10px;">
            <form method="post" class="mr-1" action="/home/articlebycat">
              <input type="hidden" name="id" value= "<%=e.id%>">
              <button class="btn "><%=e.label%></button>
          </form>
          </div>
          <%})%>

        </div>
        <div class="container mt-5 " style="overflow-y: scroll; height:70vh;">
       <% data.articles.forEach(e=>{%>
        <div class="row mt-3" >
          <div class=" col">
            <div class="card text-xs-center w-100" style="border-radius: 10px 20px !important; border:1px solid grey;">
              <div class="container d-flex justify-content-center">
              <p><%=e.content%></p>
              </div>
                <div class="w-100 d-flex justify-content-between">
                  <form method="post" class="mr-1" action="/visitor/visitorform">
                    <input type="hidden" name="id" value= "<%=e.id%>">
                    <button class="btn "><i class="fa fa-comment "></i></button>
                </form>
                  <form method="post" class="mr-1" action="/visitor/visitorform">
                    <input type="hidden" name="id" value= "<%=e.id%>">
                    <input type="hidden" name="id" value= "<%=e.id%>">
                    <input type="hidden" name="id" value= "<%=e.id%>">
                    <button type="submit"  class="btn "><i class="fa fa-thumbs-up"></i></button>
                    <button type="submit" class="btn "><i class="fa fa-thumbs-down"></i></button>
                </form>
                </div>
            </div>
          </div>
        </div>
        <%})%>
        </div>
      </div>
      <%- include ('includes/footer') %>