
      <%- include ('includes/header') %>
      <div class="container-fluid text-center d-flex justify-content-between">
        <div class="container mt-5" style="width:200px; height:70vh; border: solid 2px grey;  border-radius: 10px;">
          
          <div class="w-100" style="height:100px;">
            <div class="card card-block text-xs-center " >
              <h4 class="card-title"><a href="" class="btn btn-secondary btn-block">Visitors</a></h4>
              <h3><%= data.visitors_num%></h3>
            </div>
          </div>
          <% data.visitors.forEach(e=>{%>
          <div class="w-100 mt-2" style="border: solid 1px grey; border-radius:10px;">
               <h5><%=e.name%></h5>
          </div>
          <% }) %>

        </div>
        <div class="container mt-5">
        <div class="row">
          <div class=" col">
            <div class="card card-block text-xs-center" >
              <h4 class="card-title"><a href="/article" class="btn btn-secondary btn-block">Articles</a></h4>
              <h3><%=data.article%></h3>
            </div>
          </div>
          <div class=" col">
            <div class="card card-block text-xs-center" >
              <h4 class="card-title"><a href="/categorie" class="btn btn-secondary btn-block">Categories</a></h4>
              <h3><%=data.categorie%></h3>
            </div>
          </div>
          <div class=" col">
            <div class="card card-block text-xs-center" >
              <h4 class="card-title"><a href="/comment" class="btn btn-secondary btn-block">Commentaires</a></h4>
              <h3><%=data.Comment%></h3>
            </div>
          </div>
          <div class=" col">
            <div class="card card-block text-xs-center" >
              <h4 class="card-title"><a href="/evaluation" class="btn btn-secondary btn-block">evaluation</a></h4>
              <h3><%=data.Evaluation%></h3>
            </div>
          </div>
        </div>
        </div>
      </div>
      <%- include ('includes/footer') %>